/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
@font-face {
  font-family: 'solexregularregular';
  src: url("../fonts/solexregular-webfont.woff2") format("woff2"), url("../fonts/solexregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'solexboldregular';
  src: url("../fonts/solexbold-webfont.woff2") format("woff2"), url("../fonts/solexbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 82, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 116, ../scss/partials/_typography.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 125, ../scss/partials/_typography.scss */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 130, ../scss/partials/_typography.scss */
.fa-2x {
  font-size: 2em;
}

/* line 133, ../scss/partials/_typography.scss */
.fa-3x {
  font-size: 3em;
}

/* line 136, ../scss/partials/_typography.scss */
.fa-4x {
  font-size: 4em;
}

/* line 139, ../scss/partials/_typography.scss */
.fa-5x {
  font-size: 5em;
}

/* line 142, ../scss/partials/_typography.scss */
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

/* line 146, ../scss/partials/_typography.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

/* line 151, ../scss/partials/_typography.scss */
.fa-ul > li {
  position: relative;
}

/* line 154, ../scss/partials/_typography.scss */
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

/* line 161, ../scss/partials/_typography.scss */
.fa-li.fa-lg {
  left: -1.85714286em;
}

/* line 164, ../scss/partials/_typography.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

/* line 169, ../scss/partials/_typography.scss */
.fa-pull-left {
  float: left;
}

/* line 172, ../scss/partials/_typography.scss */
.fa-pull-right {
  float: right;
}

/* line 175, ../scss/partials/_typography.scss */
.fa.fa-pull-left {
  margin-right: .3em;
}

/* line 178, ../scss/partials/_typography.scss */
.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
/* line 182, ../scss/partials/_typography.scss */
.pull-right {
  float: right;
}

/* line 185, ../scss/partials/_typography.scss */
.pull-left {
  float: left;
}

/* line 188, ../scss/partials/_typography.scss */
.fa.pull-left {
  margin-right: .3em;
}

/* line 191, ../scss/partials/_typography.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 194, ../scss/partials/_typography.scss */
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* line 198, ../scss/partials/_typography.scss */
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 222, ../scss/partials/_typography.scss */
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 228, ../scss/partials/_typography.scss */
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 234, ../scss/partials/_typography.scss */
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 240, ../scss/partials/_typography.scss */
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 246, ../scss/partials/_typography.scss */
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 252, ../scss/partials/_typography.scss */
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

/* line 259, ../scss/partials/_typography.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 267, ../scss/partials/_typography.scss */
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 274, ../scss/partials/_typography.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 277, ../scss/partials/_typography.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 280, ../scss/partials/_typography.scss */
.fa-inverse {
  color: #ffffff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 285, ../scss/partials/_typography.scss */
.fa-glass:before {
  content: "\f000";
}

/* line 288, ../scss/partials/_typography.scss */
.fa-music:before {
  content: "\f001";
}

/* line 291, ../scss/partials/_typography.scss */
.fa-search:before {
  content: "\f002";
}

/* line 294, ../scss/partials/_typography.scss */
.fa-envelope-o:before {
  content: "\f003";
}

/* line 297, ../scss/partials/_typography.scss */
.fa-heart:before {
  content: "\f004";
}

/* line 300, ../scss/partials/_typography.scss */
.fa-star:before {
  content: "\f005";
}

/* line 303, ../scss/partials/_typography.scss */
.fa-star-o:before {
  content: "\f006";
}

/* line 306, ../scss/partials/_typography.scss */
.fa-user:before {
  content: "\f007";
}

/* line 309, ../scss/partials/_typography.scss */
.fa-film:before {
  content: "\f008";
}

/* line 312, ../scss/partials/_typography.scss */
.fa-th-large:before {
  content: "\f009";
}

/* line 315, ../scss/partials/_typography.scss */
.fa-th:before {
  content: "\f00a";
}

/* line 318, ../scss/partials/_typography.scss */
.fa-th-list:before {
  content: "\f00b";
}

/* line 321, ../scss/partials/_typography.scss */
.fa-check:before {
  content: "\f00c";
}

/* line 324, ../scss/partials/_typography.scss */
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}

/* line 329, ../scss/partials/_typography.scss */
.fa-search-plus:before {
  content: "\f00e";
}

/* line 332, ../scss/partials/_typography.scss */
.fa-search-minus:before {
  content: "\f010";
}

/* line 335, ../scss/partials/_typography.scss */
.fa-power-off:before {
  content: "\f011";
}

/* line 338, ../scss/partials/_typography.scss */
.fa-signal:before {
  content: "\f012";
}

/* line 341, ../scss/partials/_typography.scss */
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

/* line 345, ../scss/partials/_typography.scss */
.fa-trash-o:before {
  content: "\f014";
}

/* line 348, ../scss/partials/_typography.scss */
.fa-home:before {
  content: "\f015";
}

/* line 351, ../scss/partials/_typography.scss */
.fa-file-o:before {
  content: "\f016";
}

/* line 354, ../scss/partials/_typography.scss */
.fa-clock-o:before {
  content: "\f017";
}

/* line 357, ../scss/partials/_typography.scss */
.fa-road:before {
  content: "\f018";
}

/* line 360, ../scss/partials/_typography.scss */
.fa-download:before {
  content: "\f019";
}

/* line 363, ../scss/partials/_typography.scss */
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

/* line 366, ../scss/partials/_typography.scss */
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

/* line 369, ../scss/partials/_typography.scss */
.fa-inbox:before {
  content: "\f01c";
}

/* line 372, ../scss/partials/_typography.scss */
.fa-play-circle-o:before {
  content: "\f01d";
}

/* line 375, ../scss/partials/_typography.scss */
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

/* line 379, ../scss/partials/_typography.scss */
.fa-refresh:before {
  content: "\f021";
}

/* line 382, ../scss/partials/_typography.scss */
.fa-list-alt:before {
  content: "\f022";
}

/* line 385, ../scss/partials/_typography.scss */
.fa-lock:before {
  content: "\f023";
}

/* line 388, ../scss/partials/_typography.scss */
.fa-flag:before {
  content: "\f024";
}

/* line 391, ../scss/partials/_typography.scss */
.fa-headphones:before {
  content: "\f025";
}

/* line 394, ../scss/partials/_typography.scss */
.fa-volume-off:before {
  content: "\f026";
}

/* line 397, ../scss/partials/_typography.scss */
.fa-volume-down:before {
  content: "\f027";
}

/* line 400, ../scss/partials/_typography.scss */
.fa-volume-up:before {
  content: "\f028";
}

/* line 403, ../scss/partials/_typography.scss */
.fa-qrcode:before {
  content: "\f029";
}

/* line 406, ../scss/partials/_typography.scss */
.fa-barcode:before {
  content: "\f02a";
}

/* line 409, ../scss/partials/_typography.scss */
.fa-tag:before {
  content: "\f02b";
}

/* line 412, ../scss/partials/_typography.scss */
.fa-tags:before {
  content: "\f02c";
}

/* line 415, ../scss/partials/_typography.scss */
.fa-book:before {
  content: "\f02d";
}

/* line 418, ../scss/partials/_typography.scss */
.fa-bookmark:before {
  content: "\f02e";
}

/* line 421, ../scss/partials/_typography.scss */
.fa-print:before {
  content: "\f02f";
}

/* line 424, ../scss/partials/_typography.scss */
.fa-camera:before {
  content: "\f030";
}

/* line 427, ../scss/partials/_typography.scss */
.fa-font:before {
  content: "\f031";
}

/* line 430, ../scss/partials/_typography.scss */
.fa-bold:before {
  content: "\f032";
}

/* line 433, ../scss/partials/_typography.scss */
.fa-italic:before {
  content: "\f033";
}

/* line 436, ../scss/partials/_typography.scss */
.fa-text-height:before {
  content: "\f034";
}

/* line 439, ../scss/partials/_typography.scss */
.fa-text-width:before {
  content: "\f035";
}

/* line 442, ../scss/partials/_typography.scss */
.fa-align-left:before {
  content: "\f036";
}

/* line 445, ../scss/partials/_typography.scss */
.fa-align-center:before {
  content: "\f037";
}

/* line 448, ../scss/partials/_typography.scss */
.fa-align-right:before {
  content: "\f038";
}

/* line 451, ../scss/partials/_typography.scss */
.fa-align-justify:before {
  content: "\f039";
}

/* line 454, ../scss/partials/_typography.scss */
.fa-list:before {
  content: "\f03a";
}

/* line 457, ../scss/partials/_typography.scss */
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}

/* line 461, ../scss/partials/_typography.scss */
.fa-indent:before {
  content: "\f03c";
}

/* line 464, ../scss/partials/_typography.scss */
.fa-video-camera:before {
  content: "\f03d";
}

/* line 467, ../scss/partials/_typography.scss */
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}

/* line 472, ../scss/partials/_typography.scss */
.fa-pencil:before {
  content: "\f040";
}

/* line 475, ../scss/partials/_typography.scss */
.fa-map-marker:before {
  content: "\f041";
}

/* line 478, ../scss/partials/_typography.scss */
.fa-adjust:before {
  content: "\f042";
}

/* line 481, ../scss/partials/_typography.scss */
.fa-tint:before {
  content: "\f043";
}

/* line 484, ../scss/partials/_typography.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

/* line 488, ../scss/partials/_typography.scss */
.fa-share-square-o:before {
  content: "\f045";
}

/* line 491, ../scss/partials/_typography.scss */
.fa-check-square-o:before {
  content: "\f046";
}

/* line 494, ../scss/partials/_typography.scss */
.fa-arrows:before {
  content: "\f047";
}

/* line 497, ../scss/partials/_typography.scss */
.fa-step-backward:before {
  content: "\f048";
}

/* line 500, ../scss/partials/_typography.scss */
.fa-fast-backward:before {
  content: "\f049";
}

/* line 503, ../scss/partials/_typography.scss */
.fa-backward:before {
  content: "\f04a";
}

/* line 506, ../scss/partials/_typography.scss */
.fa-play:before {
  content: "\f04b";
}

/* line 509, ../scss/partials/_typography.scss */
.fa-pause:before {
  content: "\f04c";
}

/* line 512, ../scss/partials/_typography.scss */
.fa-stop:before {
  content: "\f04d";
}

/* line 515, ../scss/partials/_typography.scss */
.fa-forward:before {
  content: "\f04e";
}

/* line 518, ../scss/partials/_typography.scss */
.fa-fast-forward:before {
  content: "\f050";
}

/* line 521, ../scss/partials/_typography.scss */
.fa-step-forward:before {
  content: "\f051";
}

/* line 524, ../scss/partials/_typography.scss */
.fa-eject:before {
  content: "\f052";
}

/* line 527, ../scss/partials/_typography.scss */
.fa-chevron-left:before {
  content: "\f053";
}

/* line 530, ../scss/partials/_typography.scss */
.fa-chevron-right:before {
  content: "\f054";
}

/* line 533, ../scss/partials/_typography.scss */
.fa-plus-circle:before {
  content: "\f055";
}

/* line 536, ../scss/partials/_typography.scss */
.fa-minus-circle:before {
  content: "\f056";
}

/* line 539, ../scss/partials/_typography.scss */
.fa-times-circle:before {
  content: "\f057";
}

/* line 542, ../scss/partials/_typography.scss */
.fa-check-circle:before {
  content: "\f058";
}

/* line 545, ../scss/partials/_typography.scss */
.fa-question-circle:before {
  content: "\f059";
}

/* line 548, ../scss/partials/_typography.scss */
.fa-info-circle:before {
  content: "\f05a";
}

/* line 551, ../scss/partials/_typography.scss */
.fa-crosshairs:before {
  content: "\f05b";
}

/* line 554, ../scss/partials/_typography.scss */
.fa-times-circle-o:before {
  content: "\f05c";
}

/* line 557, ../scss/partials/_typography.scss */
.fa-check-circle-o:before {
  content: "\f05d";
}

/* line 560, ../scss/partials/_typography.scss */
.fa-ban:before {
  content: "\f05e";
}

/* line 563, ../scss/partials/_typography.scss */
.fa-arrow-left:before {
  content: "\f060";
}

/* line 566, ../scss/partials/_typography.scss */
.fa-arrow-right:before {
  content: "\f061";
}

/* line 569, ../scss/partials/_typography.scss */
.fa-arrow-up:before {
  content: "\f062";
}

/* line 572, ../scss/partials/_typography.scss */
.fa-arrow-down:before {
  content: "\f063";
}

/* line 575, ../scss/partials/_typography.scss */
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}

/* line 579, ../scss/partials/_typography.scss */
.fa-expand:before {
  content: "\f065";
}

/* line 582, ../scss/partials/_typography.scss */
.fa-compress:before {
  content: "\f066";
}

/* line 585, ../scss/partials/_typography.scss */
.fa-plus:before {
  content: "\f067";
}

/* line 588, ../scss/partials/_typography.scss */
.fa-minus:before {
  content: "\f068";
}

/* line 591, ../scss/partials/_typography.scss */
.fa-asterisk:before {
  content: "\f069";
}

/* line 594, ../scss/partials/_typography.scss */
.fa-exclamation-circle:before {
  content: "\f06a";
}

/* line 597, ../scss/partials/_typography.scss */
.fa-gift:before {
  content: "\f06b";
}

/* line 600, ../scss/partials/_typography.scss */
.fa-leaf:before {
  content: "\f06c";
}

/* line 603, ../scss/partials/_typography.scss */
.fa-fire:before {
  content: "\f06d";
}

/* line 606, ../scss/partials/_typography.scss */
.fa-eye:before {
  content: "\f06e";
}

/* line 609, ../scss/partials/_typography.scss */
.fa-eye-slash:before {
  content: "\f070";
}

/* line 612, ../scss/partials/_typography.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

/* line 616, ../scss/partials/_typography.scss */
.fa-plane:before {
  content: "\f072";
}

/* line 619, ../scss/partials/_typography.scss */
.fa-calendar:before {
  content: "\f073";
}

/* line 622, ../scss/partials/_typography.scss */
.fa-random:before {
  content: "\f074";
}

/* line 625, ../scss/partials/_typography.scss */
.fa-comment:before {
  content: "\f075";
}

/* line 628, ../scss/partials/_typography.scss */
.fa-magnet:before {
  content: "\f076";
}

/* line 631, ../scss/partials/_typography.scss */
.fa-chevron-up:before {
  content: "\f077";
}

/* line 634, ../scss/partials/_typography.scss */
.fa-chevron-down:before {
  content: "\f078";
}

/* line 637, ../scss/partials/_typography.scss */
.fa-retweet:before {
  content: "\f079";
}

/* line 640, ../scss/partials/_typography.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 643, ../scss/partials/_typography.scss */
.fa-folder:before {
  content: "\f07b";
}

/* line 646, ../scss/partials/_typography.scss */
.fa-folder-open:before {
  content: "\f07c";
}

/* line 649, ../scss/partials/_typography.scss */
.fa-arrows-v:before {
  content: "\f07d";
}

/* line 652, ../scss/partials/_typography.scss */
.fa-arrows-h:before {
  content: "\f07e";
}

/* line 655, ../scss/partials/_typography.scss */
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}

/* line 659, ../scss/partials/_typography.scss */
.fa-twitter-square:before {
  content: "\f081";
}

/* line 662, ../scss/partials/_typography.scss */
.fa-facebook-square:before {
  content: "\f082";
}

/* line 665, ../scss/partials/_typography.scss */
.fa-camera-retro:before {
  content: "\f083";
}

/* line 668, ../scss/partials/_typography.scss */
.fa-key:before {
  content: "\f084";
}

/* line 671, ../scss/partials/_typography.scss */
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}

/* line 675, ../scss/partials/_typography.scss */
.fa-comments:before {
  content: "\f086";
}

/* line 678, ../scss/partials/_typography.scss */
.fa-thumbs-o-up:before {
  content: "\f087";
}

/* line 681, ../scss/partials/_typography.scss */
.fa-thumbs-o-down:before {
  content: "\f088";
}

/* line 684, ../scss/partials/_typography.scss */
.fa-star-half:before {
  content: "\f089";
}

/* line 687, ../scss/partials/_typography.scss */
.fa-heart-o:before {
  content: "\f08a";
}

/* line 690, ../scss/partials/_typography.scss */
.fa-sign-out:before {
  content: "\f08b";
}

/* line 693, ../scss/partials/_typography.scss */
.fa-linkedin-square:before {
  content: "\f08c";
}

/* line 696, ../scss/partials/_typography.scss */
.fa-thumb-tack:before {
  content: "\f08d";
}

/* line 699, ../scss/partials/_typography.scss */
.fa-external-link:before {
  content: "\f08e";
}

/* line 702, ../scss/partials/_typography.scss */
.fa-sign-in:before {
  content: "\f090";
}

/* line 705, ../scss/partials/_typography.scss */
.fa-trophy:before {
  content: "\f091";
}

/* line 708, ../scss/partials/_typography.scss */
.fa-github-square:before {
  content: "\f092";
}

/* line 711, ../scss/partials/_typography.scss */
.fa-upload:before {
  content: "\f093";
}

/* line 714, ../scss/partials/_typography.scss */
.fa-lemon-o:before {
  content: "\f094";
}

/* line 717, ../scss/partials/_typography.scss */
.fa-phone:before {
  content: "\f095";
}

/* line 720, ../scss/partials/_typography.scss */
.fa-square-o:before {
  content: "\f096";
}

/* line 723, ../scss/partials/_typography.scss */
.fa-bookmark-o:before {
  content: "\f097";
}

/* line 726, ../scss/partials/_typography.scss */
.fa-phone-square:before {
  content: "\f098";
}

/* line 729, ../scss/partials/_typography.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 732, ../scss/partials/_typography.scss */
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

/* line 736, ../scss/partials/_typography.scss */
.fa-github:before {
  content: "\f09b";
}

/* line 739, ../scss/partials/_typography.scss */
.fa-unlock:before {
  content: "\f09c";
}

/* line 742, ../scss/partials/_typography.scss */
.fa-credit-card:before {
  content: "\f09d";
}

/* line 745, ../scss/partials/_typography.scss */
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}

/* line 749, ../scss/partials/_typography.scss */
.fa-hdd-o:before {
  content: "\f0a0";
}

/* line 752, ../scss/partials/_typography.scss */
.fa-bullhorn:before {
  content: "\f0a1";
}

/* line 755, ../scss/partials/_typography.scss */
.fa-bell:before {
  content: "\f0f3";
}

/* line 758, ../scss/partials/_typography.scss */
.fa-certificate:before {
  content: "\f0a3";
}

/* line 761, ../scss/partials/_typography.scss */
.fa-hand-o-right:before {
  content: "\f0a4";
}

/* line 764, ../scss/partials/_typography.scss */
.fa-hand-o-left:before {
  content: "\f0a5";
}

/* line 767, ../scss/partials/_typography.scss */
.fa-hand-o-up:before {
  content: "\f0a6";
}

/* line 770, ../scss/partials/_typography.scss */
.fa-hand-o-down:before {
  content: "\f0a7";
}

/* line 773, ../scss/partials/_typography.scss */
.fa-arrow-circle-left:before {
  content: "\f0a8";
}

/* line 776, ../scss/partials/_typography.scss */
.fa-arrow-circle-right:before {
  content: "\f0a9";
}

/* line 779, ../scss/partials/_typography.scss */
.fa-arrow-circle-up:before {
  content: "\f0aa";
}

/* line 782, ../scss/partials/_typography.scss */
.fa-arrow-circle-down:before {
  content: "\f0ab";
}

/* line 785, ../scss/partials/_typography.scss */
.fa-globe:before {
  content: "\f0ac";
}

/* line 788, ../scss/partials/_typography.scss */
.fa-wrench:before {
  content: "\f0ad";
}

/* line 791, ../scss/partials/_typography.scss */
.fa-tasks:before {
  content: "\f0ae";
}

/* line 794, ../scss/partials/_typography.scss */
.fa-filter:before {
  content: "\f0b0";
}

/* line 797, ../scss/partials/_typography.scss */
.fa-briefcase:before {
  content: "\f0b1";
}

/* line 800, ../scss/partials/_typography.scss */
.fa-arrows-alt:before {
  content: "\f0b2";
}

/* line 803, ../scss/partials/_typography.scss */
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}

/* line 807, ../scss/partials/_typography.scss */
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}

/* line 811, ../scss/partials/_typography.scss */
.fa-cloud:before {
  content: "\f0c2";
}

/* line 814, ../scss/partials/_typography.scss */
.fa-flask:before {
  content: "\f0c3";
}

/* line 817, ../scss/partials/_typography.scss */
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

/* line 821, ../scss/partials/_typography.scss */
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

/* line 825, ../scss/partials/_typography.scss */
.fa-paperclip:before {
  content: "\f0c6";
}

/* line 828, ../scss/partials/_typography.scss */
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}

/* line 832, ../scss/partials/_typography.scss */
.fa-square:before {
  content: "\f0c8";
}

/* line 835, ../scss/partials/_typography.scss */
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

/* line 840, ../scss/partials/_typography.scss */
.fa-list-ul:before {
  content: "\f0ca";
}

/* line 843, ../scss/partials/_typography.scss */
.fa-list-ol:before {
  content: "\f0cb";
}

/* line 846, ../scss/partials/_typography.scss */
.fa-strikethrough:before {
  content: "\f0cc";
}

/* line 849, ../scss/partials/_typography.scss */
.fa-underline:before {
  content: "\f0cd";
}

/* line 852, ../scss/partials/_typography.scss */
.fa-table:before {
  content: "\f0ce";
}

/* line 855, ../scss/partials/_typography.scss */
.fa-magic:before {
  content: "\f0d0";
}

/* line 858, ../scss/partials/_typography.scss */
.fa-truck:before {
  content: "\f0d1";
}

/* line 861, ../scss/partials/_typography.scss */
.fa-pinterest:before {
  content: "\f0d2";
}

/* line 864, ../scss/partials/_typography.scss */
.fa-pinterest-square:before {
  content: "\f0d3";
}

/* line 867, ../scss/partials/_typography.scss */
.fa-google-plus-square:before {
  content: "\f0d4";
}

/* line 870, ../scss/partials/_typography.scss */
.fa-google-plus:before {
  content: "\f0d5";
}

/* line 873, ../scss/partials/_typography.scss */
.fa-money:before {
  content: "\f0d6";
}

/* line 876, ../scss/partials/_typography.scss */
.fa-caret-down:before {
  content: "\f0d7";
}

/* line 879, ../scss/partials/_typography.scss */
.fa-caret-up:before {
  content: "\f0d8";
}

/* line 882, ../scss/partials/_typography.scss */
.fa-caret-left:before {
  content: "\f0d9";
}

/* line 885, ../scss/partials/_typography.scss */
.fa-caret-right:before {
  content: "\f0da";
}

/* line 888, ../scss/partials/_typography.scss */
.fa-columns:before {
  content: "\f0db";
}

/* line 891, ../scss/partials/_typography.scss */
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}

/* line 895, ../scss/partials/_typography.scss */
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}

/* line 899, ../scss/partials/_typography.scss */
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}

/* line 903, ../scss/partials/_typography.scss */
.fa-envelope:before {
  content: "\f0e0";
}

/* line 906, ../scss/partials/_typography.scss */
.fa-linkedin:before {
  content: "\f0e1";
}

/* line 909, ../scss/partials/_typography.scss */
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}

/* line 913, ../scss/partials/_typography.scss */
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}

/* line 917, ../scss/partials/_typography.scss */
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}

/* line 921, ../scss/partials/_typography.scss */
.fa-comment-o:before {
  content: "\f0e5";
}

/* line 924, ../scss/partials/_typography.scss */
.fa-comments-o:before {
  content: "\f0e6";
}

/* line 927, ../scss/partials/_typography.scss */
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

/* line 931, ../scss/partials/_typography.scss */
.fa-sitemap:before {
  content: "\f0e8";
}

/* line 934, ../scss/partials/_typography.scss */
.fa-umbrella:before {
  content: "\f0e9";
}

/* line 937, ../scss/partials/_typography.scss */
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}

/* line 941, ../scss/partials/_typography.scss */
.fa-lightbulb-o:before {
  content: "\f0eb";
}

/* line 944, ../scss/partials/_typography.scss */
.fa-exchange:before {
  content: "\f0ec";
}

/* line 947, ../scss/partials/_typography.scss */
.fa-cloud-download:before {
  content: "\f0ed";
}

/* line 950, ../scss/partials/_typography.scss */
.fa-cloud-upload:before {
  content: "\f0ee";
}

/* line 953, ../scss/partials/_typography.scss */
.fa-user-md:before {
  content: "\f0f0";
}

/* line 956, ../scss/partials/_typography.scss */
.fa-stethoscope:before {
  content: "\f0f1";
}

/* line 959, ../scss/partials/_typography.scss */
.fa-suitcase:before {
  content: "\f0f2";
}

/* line 962, ../scss/partials/_typography.scss */
.fa-bell-o:before {
  content: "\f0a2";
}

/* line 965, ../scss/partials/_typography.scss */
.fa-coffee:before {
  content: "\f0f4";
}

/* line 968, ../scss/partials/_typography.scss */
.fa-cutlery:before {
  content: "\f0f5";
}

/* line 971, ../scss/partials/_typography.scss */
.fa-file-text-o:before {
  content: "\f0f6";
}

/* line 974, ../scss/partials/_typography.scss */
.fa-building-o:before {
  content: "\f0f7";
}

/* line 977, ../scss/partials/_typography.scss */
.fa-hospital-o:before {
  content: "\f0f8";
}

/* line 980, ../scss/partials/_typography.scss */
.fa-ambulance:before {
  content: "\f0f9";
}

/* line 983, ../scss/partials/_typography.scss */
.fa-medkit:before {
  content: "\f0fa";
}

/* line 986, ../scss/partials/_typography.scss */
.fa-fighter-jet:before {
  content: "\f0fb";
}

/* line 989, ../scss/partials/_typography.scss */
.fa-beer:before {
  content: "\f0fc";
}

/* line 992, ../scss/partials/_typography.scss */
.fa-h-square:before {
  content: "\f0fd";
}

/* line 995, ../scss/partials/_typography.scss */
.fa-plus-square:before {
  content: "\f0fe";
}

/* line 998, ../scss/partials/_typography.scss */
.fa-angle-double-left:before {
  content: "\f100";
}

/* line 1001, ../scss/partials/_typography.scss */
.fa-angle-double-right:before {
  content: "\f101";
}

/* line 1004, ../scss/partials/_typography.scss */
.fa-angle-double-up:before {
  content: "\f102";
}

/* line 1007, ../scss/partials/_typography.scss */
.fa-angle-double-down:before {
  content: "\f103";
}

/* line 1010, ../scss/partials/_typography.scss */
.fa-angle-left:before {
  content: "\f104";
}

/* line 1013, ../scss/partials/_typography.scss */
.fa-angle-right:before {
  content: "\f105";
}

/* line 1016, ../scss/partials/_typography.scss */
.fa-angle-up:before {
  content: "\f106";
}

/* line 1019, ../scss/partials/_typography.scss */
.fa-angle-down:before {
  content: "\f107";
}

/* line 1022, ../scss/partials/_typography.scss */
.fa-desktop:before {
  content: "\f108";
}

/* line 1025, ../scss/partials/_typography.scss */
.fa-laptop:before {
  content: "\f109";
}

/* line 1028, ../scss/partials/_typography.scss */
.fa-tablet:before {
  content: "\f10a";
}

/* line 1031, ../scss/partials/_typography.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

/* line 1035, ../scss/partials/_typography.scss */
.fa-circle-o:before {
  content: "\f10c";
}

/* line 1038, ../scss/partials/_typography.scss */
.fa-quote-left:before {
  content: "\f10d";
}

/* line 1041, ../scss/partials/_typography.scss */
.fa-quote-right:before {
  content: "\f10e";
}

/* line 1044, ../scss/partials/_typography.scss */
.fa-spinner:before {
  content: "\f110";
}

/* line 1047, ../scss/partials/_typography.scss */
.fa-circle:before {
  content: "\f111";
}

/* line 1050, ../scss/partials/_typography.scss */
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}

/* line 1054, ../scss/partials/_typography.scss */
.fa-github-alt:before {
  content: "\f113";
}

/* line 1057, ../scss/partials/_typography.scss */
.fa-folder-o:before {
  content: "\f114";
}

/* line 1060, ../scss/partials/_typography.scss */
.fa-folder-open-o:before {
  content: "\f115";
}

/* line 1063, ../scss/partials/_typography.scss */
.fa-smile-o:before {
  content: "\f118";
}

/* line 1066, ../scss/partials/_typography.scss */
.fa-frown-o:before {
  content: "\f119";
}

/* line 1069, ../scss/partials/_typography.scss */
.fa-meh-o:before {
  content: "\f11a";
}

/* line 1072, ../scss/partials/_typography.scss */
.fa-gamepad:before {
  content: "\f11b";
}

/* line 1075, ../scss/partials/_typography.scss */
.fa-keyboard-o:before {
  content: "\f11c";
}

/* line 1078, ../scss/partials/_typography.scss */
.fa-flag-o:before {
  content: "\f11d";
}

/* line 1081, ../scss/partials/_typography.scss */
.fa-flag-checkered:before {
  content: "\f11e";
}

/* line 1084, ../scss/partials/_typography.scss */
.fa-terminal:before {
  content: "\f120";
}

/* line 1087, ../scss/partials/_typography.scss */
.fa-code:before {
  content: "\f121";
}

/* line 1090, ../scss/partials/_typography.scss */
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}

/* line 1094, ../scss/partials/_typography.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}

/* line 1099, ../scss/partials/_typography.scss */
.fa-location-arrow:before {
  content: "\f124";
}

/* line 1102, ../scss/partials/_typography.scss */
.fa-crop:before {
  content: "\f125";
}

/* line 1105, ../scss/partials/_typography.scss */
.fa-code-fork:before {
  content: "\f126";
}

/* line 1108, ../scss/partials/_typography.scss */
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

/* line 1112, ../scss/partials/_typography.scss */
.fa-question:before {
  content: "\f128";
}

/* line 1115, ../scss/partials/_typography.scss */
.fa-info:before {
  content: "\f129";
}

/* line 1118, ../scss/partials/_typography.scss */
.fa-exclamation:before {
  content: "\f12a";
}

/* line 1121, ../scss/partials/_typography.scss */
.fa-superscript:before {
  content: "\f12b";
}

/* line 1124, ../scss/partials/_typography.scss */
.fa-subscript:before {
  content: "\f12c";
}

/* line 1127, ../scss/partials/_typography.scss */
.fa-eraser:before {
  content: "\f12d";
}

/* line 1130, ../scss/partials/_typography.scss */
.fa-puzzle-piece:before {
  content: "\f12e";
}

/* line 1133, ../scss/partials/_typography.scss */
.fa-microphone:before {
  content: "\f130";
}

/* line 1136, ../scss/partials/_typography.scss */
.fa-microphone-slash:before {
  content: "\f131";
}

/* line 1139, ../scss/partials/_typography.scss */
.fa-shield:before {
  content: "\f132";
}

/* line 1142, ../scss/partials/_typography.scss */
.fa-calendar-o:before {
  content: "\f133";
}

/* line 1145, ../scss/partials/_typography.scss */
.fa-fire-extinguisher:before {
  content: "\f134";
}

/* line 1148, ../scss/partials/_typography.scss */
.fa-rocket:before {
  content: "\f135";
}

/* line 1151, ../scss/partials/_typography.scss */
.fa-maxcdn:before {
  content: "\f136";
}

/* line 1154, ../scss/partials/_typography.scss */
.fa-chevron-circle-left:before {
  content: "\f137";
}

/* line 1157, ../scss/partials/_typography.scss */
.fa-chevron-circle-right:before {
  content: "\f138";
}

/* line 1160, ../scss/partials/_typography.scss */
.fa-chevron-circle-up:before {
  content: "\f139";
}

/* line 1163, ../scss/partials/_typography.scss */
.fa-chevron-circle-down:before {
  content: "\f13a";
}

/* line 1166, ../scss/partials/_typography.scss */
.fa-html5:before {
  content: "\f13b";
}

/* line 1169, ../scss/partials/_typography.scss */
.fa-css3:before {
  content: "\f13c";
}

/* line 1172, ../scss/partials/_typography.scss */
.fa-anchor:before {
  content: "\f13d";
}

/* line 1175, ../scss/partials/_typography.scss */
.fa-unlock-alt:before {
  content: "\f13e";
}

/* line 1178, ../scss/partials/_typography.scss */
.fa-bullseye:before {
  content: "\f140";
}

/* line 1181, ../scss/partials/_typography.scss */
.fa-ellipsis-h:before {
  content: "\f141";
}

/* line 1184, ../scss/partials/_typography.scss */
.fa-ellipsis-v:before {
  content: "\f142";
}

/* line 1187, ../scss/partials/_typography.scss */
.fa-rss-square:before {
  content: "\f143";
}

/* line 1190, ../scss/partials/_typography.scss */
.fa-play-circle:before {
  content: "\f144";
}

/* line 1193, ../scss/partials/_typography.scss */
.fa-ticket:before {
  content: "\f145";
}

/* line 1196, ../scss/partials/_typography.scss */
.fa-minus-square:before {
  content: "\f146";
}

/* line 1199, ../scss/partials/_typography.scss */
.fa-minus-square-o:before {
  content: "\f147";
}

/* line 1202, ../scss/partials/_typography.scss */
.fa-level-up:before {
  content: "\f148";
}

/* line 1205, ../scss/partials/_typography.scss */
.fa-level-down:before {
  content: "\f149";
}

/* line 1208, ../scss/partials/_typography.scss */
.fa-check-square:before {
  content: "\f14a";
}

/* line 1211, ../scss/partials/_typography.scss */
.fa-pencil-square:before {
  content: "\f14b";
}

/* line 1214, ../scss/partials/_typography.scss */
.fa-external-link-square:before {
  content: "\f14c";
}

/* line 1217, ../scss/partials/_typography.scss */
.fa-share-square:before {
  content: "\f14d";
}

/* line 1220, ../scss/partials/_typography.scss */
.fa-compass:before {
  content: "\f14e";
}

/* line 1223, ../scss/partials/_typography.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

/* line 1227, ../scss/partials/_typography.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

/* line 1231, ../scss/partials/_typography.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

/* line 1235, ../scss/partials/_typography.scss */
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

/* line 1239, ../scss/partials/_typography.scss */
.fa-gbp:before {
  content: "\f154";
}

/* line 1242, ../scss/partials/_typography.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

/* line 1246, ../scss/partials/_typography.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

/* line 1250, ../scss/partials/_typography.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

/* line 1256, ../scss/partials/_typography.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

/* line 1261, ../scss/partials/_typography.scss */
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

/* line 1265, ../scss/partials/_typography.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

/* line 1269, ../scss/partials/_typography.scss */
.fa-file:before {
  content: "\f15b";
}

/* line 1272, ../scss/partials/_typography.scss */
.fa-file-text:before {
  content: "\f15c";
}

/* line 1275, ../scss/partials/_typography.scss */
.fa-sort-alpha-asc:before {
  content: "\f15d";
}

/* line 1278, ../scss/partials/_typography.scss */
.fa-sort-alpha-desc:before {
  content: "\f15e";
}

/* line 1281, ../scss/partials/_typography.scss */
.fa-sort-amount-asc:before {
  content: "\f160";
}

/* line 1284, ../scss/partials/_typography.scss */
.fa-sort-amount-desc:before {
  content: "\f161";
}

/* line 1287, ../scss/partials/_typography.scss */
.fa-sort-numeric-asc:before {
  content: "\f162";
}

/* line 1290, ../scss/partials/_typography.scss */
.fa-sort-numeric-desc:before {
  content: "\f163";
}

/* line 1293, ../scss/partials/_typography.scss */
.fa-thumbs-up:before {
  content: "\f164";
}

/* line 1296, ../scss/partials/_typography.scss */
.fa-thumbs-down:before {
  content: "\f165";
}

/* line 1299, ../scss/partials/_typography.scss */
.fa-youtube-square:before {
  content: "\f166";
}

/* line 1302, ../scss/partials/_typography.scss */
.fa-youtube:before {
  content: "\f167";
}

/* line 1305, ../scss/partials/_typography.scss */
.fa-xing:before {
  content: "\f168";
}

/* line 1308, ../scss/partials/_typography.scss */
.fa-xing-square:before {
  content: "\f169";
}

/* line 1311, ../scss/partials/_typography.scss */
.fa-youtube-play:before {
  content: "\f16a";
}

/* line 1314, ../scss/partials/_typography.scss */
.fa-dropbox:before {
  content: "\f16b";
}

/* line 1317, ../scss/partials/_typography.scss */
.fa-stack-overflow:before {
  content: "\f16c";
}

/* line 1320, ../scss/partials/_typography.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 1323, ../scss/partials/_typography.scss */
.fa-flickr:before {
  content: "\f16e";
}

/* line 1326, ../scss/partials/_typography.scss */
.fa-adn:before {
  content: "\f170";
}

/* line 1329, ../scss/partials/_typography.scss */
.fa-bitbucket:before {
  content: "\f171";
}

/* line 1332, ../scss/partials/_typography.scss */
.fa-bitbucket-square:before {
  content: "\f172";
}

/* line 1335, ../scss/partials/_typography.scss */
.fa-tumblr:before {
  content: "\f173";
}

/* line 1338, ../scss/partials/_typography.scss */
.fa-tumblr-square:before {
  content: "\f174";
}

/* line 1341, ../scss/partials/_typography.scss */
.fa-long-arrow-down:before {
  content: "\f175";
}

/* line 1344, ../scss/partials/_typography.scss */
.fa-long-arrow-up:before {
  content: "\f176";
}

/* line 1347, ../scss/partials/_typography.scss */
.fa-long-arrow-left:before {
  content: "\f177";
}

/* line 1350, ../scss/partials/_typography.scss */
.fa-long-arrow-right:before {
  content: "\f178";
}

/* line 1353, ../scss/partials/_typography.scss */
.fa-apple:before {
  content: "\f179";
}

/* line 1356, ../scss/partials/_typography.scss */
.fa-windows:before {
  content: "\f17a";
}

/* line 1359, ../scss/partials/_typography.scss */
.fa-android:before {
  content: "\f17b";
}

/* line 1362, ../scss/partials/_typography.scss */
.fa-linux:before {
  content: "\f17c";
}

/* line 1365, ../scss/partials/_typography.scss */
.fa-dribbble:before {
  content: "\f17d";
}

/* line 1368, ../scss/partials/_typography.scss */
.fa-skype:before {
  content: "\f17e";
}

/* line 1371, ../scss/partials/_typography.scss */
.fa-foursquare:before {
  content: "\f180";
}

/* line 1374, ../scss/partials/_typography.scss */
.fa-trello:before {
  content: "\f181";
}

/* line 1377, ../scss/partials/_typography.scss */
.fa-female:before {
  content: "\f182";
}

/* line 1380, ../scss/partials/_typography.scss */
.fa-male:before {
  content: "\f183";
}

/* line 1383, ../scss/partials/_typography.scss */
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}

/* line 1387, ../scss/partials/_typography.scss */
.fa-sun-o:before {
  content: "\f185";
}

/* line 1390, ../scss/partials/_typography.scss */
.fa-moon-o:before {
  content: "\f186";
}

/* line 1393, ../scss/partials/_typography.scss */
.fa-archive:before {
  content: "\f187";
}

/* line 1396, ../scss/partials/_typography.scss */
.fa-bug:before {
  content: "\f188";
}

/* line 1399, ../scss/partials/_typography.scss */
.fa-vk:before {
  content: "\f189";
}

/* line 1402, ../scss/partials/_typography.scss */
.fa-weibo:before {
  content: "\f18a";
}

/* line 1405, ../scss/partials/_typography.scss */
.fa-renren:before {
  content: "\f18b";
}

/* line 1408, ../scss/partials/_typography.scss */
.fa-pagelines:before {
  content: "\f18c";
}

/* line 1411, ../scss/partials/_typography.scss */
.fa-stack-exchange:before {
  content: "\f18d";
}

/* line 1414, ../scss/partials/_typography.scss */
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

/* line 1417, ../scss/partials/_typography.scss */
.fa-arrow-circle-o-left:before {
  content: "\f190";
}

/* line 1420, ../scss/partials/_typography.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

/* line 1424, ../scss/partials/_typography.scss */
.fa-dot-circle-o:before {
  content: "\f192";
}

/* line 1427, ../scss/partials/_typography.scss */
.fa-wheelchair:before {
  content: "\f193";
}

/* line 1430, ../scss/partials/_typography.scss */
.fa-vimeo-square:before {
  content: "\f194";
}

/* line 1433, ../scss/partials/_typography.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

/* line 1437, ../scss/partials/_typography.scss */
.fa-plus-square-o:before {
  content: "\f196";
}

/* line 1440, ../scss/partials/_typography.scss */
.fa-space-shuttle:before {
  content: "\f197";
}

/* line 1443, ../scss/partials/_typography.scss */
.fa-slack:before {
  content: "\f198";
}

/* line 1446, ../scss/partials/_typography.scss */
.fa-envelope-square:before {
  content: "\f199";
}

/* line 1449, ../scss/partials/_typography.scss */
.fa-wordpress:before {
  content: "\f19a";
}

/* line 1452, ../scss/partials/_typography.scss */
.fa-openid:before {
  content: "\f19b";
}

/* line 1455, ../scss/partials/_typography.scss */
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}

/* line 1460, ../scss/partials/_typography.scss */
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}

/* line 1464, ../scss/partials/_typography.scss */
.fa-yahoo:before {
  content: "\f19e";
}

/* line 1467, ../scss/partials/_typography.scss */
.fa-google:before {
  content: "\f1a0";
}

/* line 1470, ../scss/partials/_typography.scss */
.fa-reddit:before {
  content: "\f1a1";
}

/* line 1473, ../scss/partials/_typography.scss */
.fa-reddit-square:before {
  content: "\f1a2";
}

/* line 1476, ../scss/partials/_typography.scss */
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

/* line 1479, ../scss/partials/_typography.scss */
.fa-stumbleupon:before {
  content: "\f1a4";
}

/* line 1482, ../scss/partials/_typography.scss */
.fa-delicious:before {
  content: "\f1a5";
}

/* line 1485, ../scss/partials/_typography.scss */
.fa-digg:before {
  content: "\f1a6";
}

/* line 1488, ../scss/partials/_typography.scss */
.fa-pied-piper-pp:before {
  content: "\f1a7";
}

/* line 1491, ../scss/partials/_typography.scss */
.fa-pied-piper-alt:before {
  content: "\f1a8";
}

/* line 1494, ../scss/partials/_typography.scss */
.fa-drupal:before {
  content: "\f1a9";
}

/* line 1497, ../scss/partials/_typography.scss */
.fa-joomla:before {
  content: "\f1aa";
}

/* line 1500, ../scss/partials/_typography.scss */
.fa-language:before {
  content: "\f1ab";
}

/* line 1503, ../scss/partials/_typography.scss */
.fa-fax:before {
  content: "\f1ac";
}

/* line 1506, ../scss/partials/_typography.scss */
.fa-building:before {
  content: "\f1ad";
}

/* line 1509, ../scss/partials/_typography.scss */
.fa-child:before {
  content: "\f1ae";
}

/* line 1512, ../scss/partials/_typography.scss */
.fa-paw:before {
  content: "\f1b0";
}

/* line 1515, ../scss/partials/_typography.scss */
.fa-spoon:before {
  content: "\f1b1";
}

/* line 1518, ../scss/partials/_typography.scss */
.fa-cube:before {
  content: "\f1b2";
}

/* line 1521, ../scss/partials/_typography.scss */
.fa-cubes:before {
  content: "\f1b3";
}

/* line 1524, ../scss/partials/_typography.scss */
.fa-behance:before {
  content: "\f1b4";
}

/* line 1527, ../scss/partials/_typography.scss */
.fa-behance-square:before {
  content: "\f1b5";
}

/* line 1530, ../scss/partials/_typography.scss */
.fa-steam:before {
  content: "\f1b6";
}

/* line 1533, ../scss/partials/_typography.scss */
.fa-steam-square:before {
  content: "\f1b7";
}

/* line 1536, ../scss/partials/_typography.scss */
.fa-recycle:before {
  content: "\f1b8";
}

/* line 1539, ../scss/partials/_typography.scss */
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}

/* line 1543, ../scss/partials/_typography.scss */
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}

/* line 1547, ../scss/partials/_typography.scss */
.fa-tree:before {
  content: "\f1bb";
}

/* line 1550, ../scss/partials/_typography.scss */
.fa-spotify:before {
  content: "\f1bc";
}

/* line 1553, ../scss/partials/_typography.scss */
.fa-deviantart:before {
  content: "\f1bd";
}

/* line 1556, ../scss/partials/_typography.scss */
.fa-soundcloud:before {
  content: "\f1be";
}

/* line 1559, ../scss/partials/_typography.scss */
.fa-database:before {
  content: "\f1c0";
}

/* line 1562, ../scss/partials/_typography.scss */
.fa-file-pdf-o:before {
  content: "\f1c1";
}

/* line 1565, ../scss/partials/_typography.scss */
.fa-file-word-o:before {
  content: "\f1c2";
}

/* line 1568, ../scss/partials/_typography.scss */
.fa-file-excel-o:before {
  content: "\f1c3";
}

/* line 1571, ../scss/partials/_typography.scss */
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

/* line 1574, ../scss/partials/_typography.scss */
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}

/* line 1579, ../scss/partials/_typography.scss */
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}

/* line 1583, ../scss/partials/_typography.scss */
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}

/* line 1587, ../scss/partials/_typography.scss */
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}

/* line 1591, ../scss/partials/_typography.scss */
.fa-file-code-o:before {
  content: "\f1c9";
}

/* line 1594, ../scss/partials/_typography.scss */
.fa-vine:before {
  content: "\f1ca";
}

/* line 1597, ../scss/partials/_typography.scss */
.fa-codepen:before {
  content: "\f1cb";
}

/* line 1600, ../scss/partials/_typography.scss */
.fa-jsfiddle:before {
  content: "\f1cc";
}

/* line 1603, ../scss/partials/_typography.scss */
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}

/* line 1610, ../scss/partials/_typography.scss */
.fa-circle-o-notch:before {
  content: "\f1ce";
}

/* line 1613, ../scss/partials/_typography.scss */
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}

/* line 1618, ../scss/partials/_typography.scss */
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}

/* line 1622, ../scss/partials/_typography.scss */
.fa-git-square:before {
  content: "\f1d2";
}

/* line 1625, ../scss/partials/_typography.scss */
.fa-git:before {
  content: "\f1d3";
}

/* line 1628, ../scss/partials/_typography.scss */
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}

/* line 1633, ../scss/partials/_typography.scss */
.fa-tencent-weibo:before {
  content: "\f1d5";
}

/* line 1636, ../scss/partials/_typography.scss */
.fa-qq:before {
  content: "\f1d6";
}

/* line 1639, ../scss/partials/_typography.scss */
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}

/* line 1643, ../scss/partials/_typography.scss */
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

/* line 1647, ../scss/partials/_typography.scss */
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}

/* line 1651, ../scss/partials/_typography.scss */
.fa-history:before {
  content: "\f1da";
}

/* line 1654, ../scss/partials/_typography.scss */
.fa-circle-thin:before {
  content: "\f1db";
}

/* line 1657, ../scss/partials/_typography.scss */
.fa-header:before {
  content: "\f1dc";
}

/* line 1660, ../scss/partials/_typography.scss */
.fa-paragraph:before {
  content: "\f1dd";
}

/* line 1663, ../scss/partials/_typography.scss */
.fa-sliders:before {
  content: "\f1de";
}

/* line 1666, ../scss/partials/_typography.scss */
.fa-share-alt:before {
  content: "\f1e0";
}

/* line 1669, ../scss/partials/_typography.scss */
.fa-share-alt-square:before {
  content: "\f1e1";
}

/* line 1672, ../scss/partials/_typography.scss */
.fa-bomb:before {
  content: "\f1e2";
}

/* line 1675, ../scss/partials/_typography.scss */
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}

/* line 1679, ../scss/partials/_typography.scss */
.fa-tty:before {
  content: "\f1e4";
}

/* line 1682, ../scss/partials/_typography.scss */
.fa-binoculars:before {
  content: "\f1e5";
}

/* line 1685, ../scss/partials/_typography.scss */
.fa-plug:before {
  content: "\f1e6";
}

/* line 1688, ../scss/partials/_typography.scss */
.fa-slideshare:before {
  content: "\f1e7";
}

/* line 1691, ../scss/partials/_typography.scss */
.fa-twitch:before {
  content: "\f1e8";
}

/* line 1694, ../scss/partials/_typography.scss */
.fa-yelp:before {
  content: "\f1e9";
}

/* line 1697, ../scss/partials/_typography.scss */
.fa-newspaper-o:before {
  content: "\f1ea";
}

/* line 1700, ../scss/partials/_typography.scss */
.fa-wifi:before {
  content: "\f1eb";
}

/* line 1703, ../scss/partials/_typography.scss */
.fa-calculator:before {
  content: "\f1ec";
}

/* line 1706, ../scss/partials/_typography.scss */
.fa-paypal:before {
  content: "\f1ed";
}

/* line 1709, ../scss/partials/_typography.scss */
.fa-google-wallet:before {
  content: "\f1ee";
}

/* line 1712, ../scss/partials/_typography.scss */
.fa-cc-visa:before {
  content: "\f1f0";
}

/* line 1715, ../scss/partials/_typography.scss */
.fa-cc-mastercard:before {
  content: "\f1f1";
}

/* line 1718, ../scss/partials/_typography.scss */
.fa-cc-discover:before {
  content: "\f1f2";
}

/* line 1721, ../scss/partials/_typography.scss */
.fa-cc-amex:before {
  content: "\f1f3";
}

/* line 1724, ../scss/partials/_typography.scss */
.fa-cc-paypal:before {
  content: "\f1f4";
}

/* line 1727, ../scss/partials/_typography.scss */
.fa-cc-stripe:before {
  content: "\f1f5";
}

/* line 1730, ../scss/partials/_typography.scss */
.fa-bell-slash:before {
  content: "\f1f6";
}

/* line 1733, ../scss/partials/_typography.scss */
.fa-bell-slash-o:before {
  content: "\f1f7";
}

/* line 1736, ../scss/partials/_typography.scss */
.fa-trash:before {
  content: "\f1f8";
}

/* line 1739, ../scss/partials/_typography.scss */
.fa-copyright:before {
  content: "\f1f9";
}

/* line 1742, ../scss/partials/_typography.scss */
.fa-at:before {
  content: "\f1fa";
}

/* line 1745, ../scss/partials/_typography.scss */
.fa-eyedropper:before {
  content: "\f1fb";
}

/* line 1748, ../scss/partials/_typography.scss */
.fa-paint-brush:before {
  content: "\f1fc";
}

/* line 1751, ../scss/partials/_typography.scss */
.fa-birthday-cake:before {
  content: "\f1fd";
}

/* line 1754, ../scss/partials/_typography.scss */
.fa-area-chart:before {
  content: "\f1fe";
}

/* line 1757, ../scss/partials/_typography.scss */
.fa-pie-chart:before {
  content: "\f200";
}

/* line 1760, ../scss/partials/_typography.scss */
.fa-line-chart:before {
  content: "\f201";
}

/* line 1763, ../scss/partials/_typography.scss */
.fa-lastfm:before {
  content: "\f202";
}

/* line 1766, ../scss/partials/_typography.scss */
.fa-lastfm-square:before {
  content: "\f203";
}

/* line 1769, ../scss/partials/_typography.scss */
.fa-toggle-off:before {
  content: "\f204";
}

/* line 1772, ../scss/partials/_typography.scss */
.fa-toggle-on:before {
  content: "\f205";
}

/* line 1775, ../scss/partials/_typography.scss */
.fa-bicycle:before {
  content: "\f206";
}

/* line 1778, ../scss/partials/_typography.scss */
.fa-bus:before {
  content: "\f207";
}

/* line 1781, ../scss/partials/_typography.scss */
.fa-ioxhost:before {
  content: "\f208";
}

/* line 1784, ../scss/partials/_typography.scss */
.fa-angellist:before {
  content: "\f209";
}

/* line 1787, ../scss/partials/_typography.scss */
.fa-cc:before {
  content: "\f20a";
}

/* line 1790, ../scss/partials/_typography.scss */
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}

/* line 1795, ../scss/partials/_typography.scss */
.fa-meanpath:before {
  content: "\f20c";
}

/* line 1798, ../scss/partials/_typography.scss */
.fa-buysellads:before {
  content: "\f20d";
}

/* line 1801, ../scss/partials/_typography.scss */
.fa-connectdevelop:before {
  content: "\f20e";
}

/* line 1804, ../scss/partials/_typography.scss */
.fa-dashcube:before {
  content: "\f210";
}

/* line 1807, ../scss/partials/_typography.scss */
.fa-forumbee:before {
  content: "\f211";
}

/* line 1810, ../scss/partials/_typography.scss */
.fa-leanpub:before {
  content: "\f212";
}

/* line 1813, ../scss/partials/_typography.scss */
.fa-sellsy:before {
  content: "\f213";
}

/* line 1816, ../scss/partials/_typography.scss */
.fa-shirtsinbulk:before {
  content: "\f214";
}

/* line 1819, ../scss/partials/_typography.scss */
.fa-simplybuilt:before {
  content: "\f215";
}

/* line 1822, ../scss/partials/_typography.scss */
.fa-skyatlas:before {
  content: "\f216";
}

/* line 1825, ../scss/partials/_typography.scss */
.fa-cart-plus:before {
  content: "\f217";
}

/* line 1828, ../scss/partials/_typography.scss */
.fa-cart-arrow-down:before {
  content: "\f218";
}

/* line 1831, ../scss/partials/_typography.scss */
.fa-diamond:before {
  content: "\f219";
}

/* line 1834, ../scss/partials/_typography.scss */
.fa-ship:before {
  content: "\f21a";
}

/* line 1837, ../scss/partials/_typography.scss */
.fa-user-secret:before {
  content: "\f21b";
}

/* line 1840, ../scss/partials/_typography.scss */
.fa-motorcycle:before {
  content: "\f21c";
}

/* line 1843, ../scss/partials/_typography.scss */
.fa-street-view:before {
  content: "\f21d";
}

/* line 1846, ../scss/partials/_typography.scss */
.fa-heartbeat:before {
  content: "\f21e";
}

/* line 1849, ../scss/partials/_typography.scss */
.fa-venus:before {
  content: "\f221";
}

/* line 1852, ../scss/partials/_typography.scss */
.fa-mars:before {
  content: "\f222";
}

/* line 1855, ../scss/partials/_typography.scss */
.fa-mercury:before {
  content: "\f223";
}

/* line 1858, ../scss/partials/_typography.scss */
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}

/* line 1862, ../scss/partials/_typography.scss */
.fa-transgender-alt:before {
  content: "\f225";
}

/* line 1865, ../scss/partials/_typography.scss */
.fa-venus-double:before {
  content: "\f226";
}

/* line 1868, ../scss/partials/_typography.scss */
.fa-mars-double:before {
  content: "\f227";
}

/* line 1871, ../scss/partials/_typography.scss */
.fa-venus-mars:before {
  content: "\f228";
}

/* line 1874, ../scss/partials/_typography.scss */
.fa-mars-stroke:before {
  content: "\f229";
}

/* line 1877, ../scss/partials/_typography.scss */
.fa-mars-stroke-v:before {
  content: "\f22a";
}

/* line 1880, ../scss/partials/_typography.scss */
.fa-mars-stroke-h:before {
  content: "\f22b";
}

/* line 1883, ../scss/partials/_typography.scss */
.fa-neuter:before {
  content: "\f22c";
}

/* line 1886, ../scss/partials/_typography.scss */
.fa-genderless:before {
  content: "\f22d";
}

/* line 1889, ../scss/partials/_typography.scss */
.fa-facebook-official:before {
  content: "\f230";
}

/* line 1892, ../scss/partials/_typography.scss */
.fa-pinterest-p:before {
  content: "\f231";
}

/* line 1895, ../scss/partials/_typography.scss */
.fa-whatsapp:before {
  content: "\f232";
}

/* line 1898, ../scss/partials/_typography.scss */
.fa-server:before {
  content: "\f233";
}

/* line 1901, ../scss/partials/_typography.scss */
.fa-user-plus:before {
  content: "\f234";
}

/* line 1904, ../scss/partials/_typography.scss */
.fa-user-times:before {
  content: "\f235";
}

/* line 1907, ../scss/partials/_typography.scss */
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}

/* line 1911, ../scss/partials/_typography.scss */
.fa-viacoin:before {
  content: "\f237";
}

/* line 1914, ../scss/partials/_typography.scss */
.fa-train:before {
  content: "\f238";
}

/* line 1917, ../scss/partials/_typography.scss */
.fa-subway:before {
  content: "\f239";
}

/* line 1920, ../scss/partials/_typography.scss */
.fa-medium:before {
  content: "\f23a";
}

/* line 1923, ../scss/partials/_typography.scss */
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}

/* line 1927, ../scss/partials/_typography.scss */
.fa-optin-monster:before {
  content: "\f23c";
}

/* line 1930, ../scss/partials/_typography.scss */
.fa-opencart:before {
  content: "\f23d";
}

/* line 1933, ../scss/partials/_typography.scss */
.fa-expeditedssl:before {
  content: "\f23e";
}

/* line 1936, ../scss/partials/_typography.scss */
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}

/* line 1940, ../scss/partials/_typography.scss */
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}

/* line 1944, ../scss/partials/_typography.scss */
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}

/* line 1948, ../scss/partials/_typography.scss */
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}

/* line 1952, ../scss/partials/_typography.scss */
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}

/* line 1956, ../scss/partials/_typography.scss */
.fa-mouse-pointer:before {
  content: "\f245";
}

/* line 1959, ../scss/partials/_typography.scss */
.fa-i-cursor:before {
  content: "\f246";
}

/* line 1962, ../scss/partials/_typography.scss */
.fa-object-group:before {
  content: "\f247";
}

/* line 1965, ../scss/partials/_typography.scss */
.fa-object-ungroup:before {
  content: "\f248";
}

/* line 1968, ../scss/partials/_typography.scss */
.fa-sticky-note:before {
  content: "\f249";
}

/* line 1971, ../scss/partials/_typography.scss */
.fa-sticky-note-o:before {
  content: "\f24a";
}

/* line 1974, ../scss/partials/_typography.scss */
.fa-cc-jcb:before {
  content: "\f24b";
}

/* line 1977, ../scss/partials/_typography.scss */
.fa-cc-diners-club:before {
  content: "\f24c";
}

/* line 1980, ../scss/partials/_typography.scss */
.fa-clone:before {
  content: "\f24d";
}

/* line 1983, ../scss/partials/_typography.scss */
.fa-balance-scale:before {
  content: "\f24e";
}

/* line 1986, ../scss/partials/_typography.scss */
.fa-hourglass-o:before {
  content: "\f250";
}

/* line 1989, ../scss/partials/_typography.scss */
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}

/* line 1993, ../scss/partials/_typography.scss */
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}

/* line 1997, ../scss/partials/_typography.scss */
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}

/* line 2001, ../scss/partials/_typography.scss */
.fa-hourglass:before {
  content: "\f254";
}

/* line 2004, ../scss/partials/_typography.scss */
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}

/* line 2008, ../scss/partials/_typography.scss */
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}

/* line 2012, ../scss/partials/_typography.scss */
.fa-hand-scissors-o:before {
  content: "\f257";
}

/* line 2015, ../scss/partials/_typography.scss */
.fa-hand-lizard-o:before {
  content: "\f258";
}

/* line 2018, ../scss/partials/_typography.scss */
.fa-hand-spock-o:before {
  content: "\f259";
}

/* line 2021, ../scss/partials/_typography.scss */
.fa-hand-pointer-o:before {
  content: "\f25a";
}

/* line 2024, ../scss/partials/_typography.scss */
.fa-hand-peace-o:before {
  content: "\f25b";
}

/* line 2027, ../scss/partials/_typography.scss */
.fa-trademark:before {
  content: "\f25c";
}

/* line 2030, ../scss/partials/_typography.scss */
.fa-registered:before {
  content: "\f25d";
}

/* line 2033, ../scss/partials/_typography.scss */
.fa-creative-commons:before {
  content: "\f25e";
}

/* line 2036, ../scss/partials/_typography.scss */
.fa-gg:before {
  content: "\f260";
}

/* line 2039, ../scss/partials/_typography.scss */
.fa-gg-circle:before {
  content: "\f261";
}

/* line 2042, ../scss/partials/_typography.scss */
.fa-tripadvisor:before {
  content: "\f262";
}

/* line 2045, ../scss/partials/_typography.scss */
.fa-odnoklassniki:before {
  content: "\f263";
}

/* line 2048, ../scss/partials/_typography.scss */
.fa-odnoklassniki-square:before {
  content: "\f264";
}

/* line 2051, ../scss/partials/_typography.scss */
.fa-get-pocket:before {
  content: "\f265";
}

/* line 2054, ../scss/partials/_typography.scss */
.fa-wikipedia-w:before {
  content: "\f266";
}

/* line 2057, ../scss/partials/_typography.scss */
.fa-safari:before {
  content: "\f267";
}

/* line 2060, ../scss/partials/_typography.scss */
.fa-chrome:before {
  content: "\f268";
}

/* line 2063, ../scss/partials/_typography.scss */
.fa-firefox:before {
  content: "\f269";
}

/* line 2066, ../scss/partials/_typography.scss */
.fa-opera:before {
  content: "\f26a";
}

/* line 2069, ../scss/partials/_typography.scss */
.fa-internet-explorer:before {
  content: "\f26b";
}

/* line 2072, ../scss/partials/_typography.scss */
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}

/* line 2076, ../scss/partials/_typography.scss */
.fa-contao:before {
  content: "\f26d";
}

/* line 2079, ../scss/partials/_typography.scss */
.fa-500px:before {
  content: "\f26e";
}

/* line 2082, ../scss/partials/_typography.scss */
.fa-amazon:before {
  content: "\f270";
}

/* line 2085, ../scss/partials/_typography.scss */
.fa-calendar-plus-o:before {
  content: "\f271";
}

/* line 2088, ../scss/partials/_typography.scss */
.fa-calendar-minus-o:before {
  content: "\f272";
}

/* line 2091, ../scss/partials/_typography.scss */
.fa-calendar-times-o:before {
  content: "\f273";
}

/* line 2094, ../scss/partials/_typography.scss */
.fa-calendar-check-o:before {
  content: "\f274";
}

/* line 2097, ../scss/partials/_typography.scss */
.fa-industry:before {
  content: "\f275";
}

/* line 2100, ../scss/partials/_typography.scss */
.fa-map-pin:before {
  content: "\f276";
}

/* line 2103, ../scss/partials/_typography.scss */
.fa-map-signs:before {
  content: "\f277";
}

/* line 2106, ../scss/partials/_typography.scss */
.fa-map-o:before {
  content: "\f278";
}

/* line 2109, ../scss/partials/_typography.scss */
.fa-map:before {
  content: "\f279";
}

/* line 2112, ../scss/partials/_typography.scss */
.fa-commenting:before {
  content: "\f27a";
}

/* line 2115, ../scss/partials/_typography.scss */
.fa-commenting-o:before {
  content: "\f27b";
}

/* line 2118, ../scss/partials/_typography.scss */
.fa-houzz:before {
  content: "\f27c";
}

/* line 2121, ../scss/partials/_typography.scss */
.fa-vimeo:before {
  content: "\f27d";
}

/* line 2124, ../scss/partials/_typography.scss */
.fa-black-tie:before {
  content: "\f27e";
}

/* line 2127, ../scss/partials/_typography.scss */
.fa-fonticons:before {
  content: "\f280";
}

/* line 2130, ../scss/partials/_typography.scss */
.fa-reddit-alien:before {
  content: "\f281";
}

/* line 2133, ../scss/partials/_typography.scss */
.fa-edge:before {
  content: "\f282";
}

/* line 2136, ../scss/partials/_typography.scss */
.fa-credit-card-alt:before {
  content: "\f283";
}

/* line 2139, ../scss/partials/_typography.scss */
.fa-codiepie:before {
  content: "\f284";
}

/* line 2142, ../scss/partials/_typography.scss */
.fa-modx:before {
  content: "\f285";
}

/* line 2145, ../scss/partials/_typography.scss */
.fa-fort-awesome:before {
  content: "\f286";
}

/* line 2148, ../scss/partials/_typography.scss */
.fa-usb:before {
  content: "\f287";
}

/* line 2151, ../scss/partials/_typography.scss */
.fa-product-hunt:before {
  content: "\f288";
}

/* line 2154, ../scss/partials/_typography.scss */
.fa-mixcloud:before {
  content: "\f289";
}

/* line 2157, ../scss/partials/_typography.scss */
.fa-scribd:before {
  content: "\f28a";
}

/* line 2160, ../scss/partials/_typography.scss */
.fa-pause-circle:before {
  content: "\f28b";
}

/* line 2163, ../scss/partials/_typography.scss */
.fa-pause-circle-o:before {
  content: "\f28c";
}

/* line 2166, ../scss/partials/_typography.scss */
.fa-stop-circle:before {
  content: "\f28d";
}

/* line 2169, ../scss/partials/_typography.scss */
.fa-stop-circle-o:before {
  content: "\f28e";
}

/* line 2172, ../scss/partials/_typography.scss */
.fa-shopping-bag:before {
  content: "\f290";
}

/* line 2175, ../scss/partials/_typography.scss */
.fa-shopping-basket:before {
  content: "\f291";
}

/* line 2178, ../scss/partials/_typography.scss */
.fa-hashtag:before {
  content: "\f292";
}

/* line 2181, ../scss/partials/_typography.scss */
.fa-bluetooth:before {
  content: "\f293";
}

/* line 2184, ../scss/partials/_typography.scss */
.fa-bluetooth-b:before {
  content: "\f294";
}

/* line 2187, ../scss/partials/_typography.scss */
.fa-percent:before {
  content: "\f295";
}

/* line 2190, ../scss/partials/_typography.scss */
.fa-gitlab:before {
  content: "\f296";
}

/* line 2193, ../scss/partials/_typography.scss */
.fa-wpbeginner:before {
  content: "\f297";
}

/* line 2196, ../scss/partials/_typography.scss */
.fa-wpforms:before {
  content: "\f298";
}

/* line 2199, ../scss/partials/_typography.scss */
.fa-envira:before {
  content: "\f299";
}

/* line 2202, ../scss/partials/_typography.scss */
.fa-universal-access:before {
  content: "\f29a";
}

/* line 2205, ../scss/partials/_typography.scss */
.fa-wheelchair-alt:before {
  content: "\f29b";
}

/* line 2208, ../scss/partials/_typography.scss */
.fa-question-circle-o:before {
  content: "\f29c";
}

/* line 2211, ../scss/partials/_typography.scss */
.fa-blind:before {
  content: "\f29d";
}

/* line 2214, ../scss/partials/_typography.scss */
.fa-audio-description:before {
  content: "\f29e";
}

/* line 2217, ../scss/partials/_typography.scss */
.fa-volume-control-phone:before {
  content: "\f2a0";
}

/* line 2220, ../scss/partials/_typography.scss */
.fa-braille:before {
  content: "\f2a1";
}

/* line 2223, ../scss/partials/_typography.scss */
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}

/* line 2226, ../scss/partials/_typography.scss */
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}

/* line 2230, ../scss/partials/_typography.scss */
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}

/* line 2235, ../scss/partials/_typography.scss */
.fa-glide:before {
  content: "\f2a5";
}

/* line 2238, ../scss/partials/_typography.scss */
.fa-glide-g:before {
  content: "\f2a6";
}

/* line 2241, ../scss/partials/_typography.scss */
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}

/* line 2245, ../scss/partials/_typography.scss */
.fa-low-vision:before {
  content: "\f2a8";
}

/* line 2248, ../scss/partials/_typography.scss */
.fa-viadeo:before {
  content: "\f2a9";
}

/* line 2251, ../scss/partials/_typography.scss */
.fa-viadeo-square:before {
  content: "\f2aa";
}

/* line 2254, ../scss/partials/_typography.scss */
.fa-snapchat:before {
  content: "\f2ab";
}

/* line 2257, ../scss/partials/_typography.scss */
.fa-snapchat-ghost:before {
  content: "\f2ac";
}

/* line 2260, ../scss/partials/_typography.scss */
.fa-snapchat-square:before {
  content: "\f2ad";
}

/* line 2263, ../scss/partials/_typography.scss */
.fa-pied-piper:before {
  content: "\f2ae";
}

/* line 2266, ../scss/partials/_typography.scss */
.fa-first-order:before {
  content: "\f2b0";
}

/* line 2269, ../scss/partials/_typography.scss */
.fa-yoast:before {
  content: "\f2b1";
}

/* line 2272, ../scss/partials/_typography.scss */
.fa-themeisle:before {
  content: "\f2b2";
}

/* line 2275, ../scss/partials/_typography.scss */
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}

/* line 2279, ../scss/partials/_typography.scss */
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}

/* line 2283, ../scss/partials/_typography.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 2293, ../scss/partials/_typography.scss */
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/* line 6, ../scss/breakpoints/_481up.scss */
body {
  padding: 0px 40px;
}

/* line 12, ../scss/breakpoints/_481up.scss */
.alvo {
  width: 18%;
  float: left;
}

/* line 17, ../scss/breakpoints/_481up.scss */
.indireta-para {
  width: 45%;
  float: left;
}

/* line 22, ../scss/breakpoints/_481up.scss */
.largar-indireta {
  width: 33%;
}

/* line 34, ../scss/breakpoints/_481up.scss */
.twitter_tweets ul li {
  width: 10%;
}
/* line 37, ../scss/breakpoints/_481up.scss */
.twitter_tweets ul li:nth-child(n+11) {
  display: none;
}

@media only screen and (min-width: 500px) {
  /* line 51, ../scss/breakpoints/_481up.scss */
  .where-album a {
    background-size: 90%;
  }
  /* line 55, ../scss/breakpoints/_481up.scss */
  .where-album ul {
    width: 60%;
    float: left;
  }
}
@media only screen and (min-width: 560px) {
  /* line 68, ../scss/breakpoints/_481up.scss */
  .where-album a {
    background-size: inherit;
  }
  /* line 72, ../scss/breakpoints/_481up.scss */
  .where-album p {
    font-size: 18px;
    line-height: 16px;
  }

  /* line 78, ../scss/breakpoints/_481up.scss */
  .album-links {
    position: relative;
  }
  /* line 81, ../scss/breakpoints/_481up.scss */
  .album-links ul {
    position: absolute;
    bottom: 0px;
  }
}
@media only screen and (min-width: 600px) {
  /* line 93, ../scss/breakpoints/_481up.scss */
  .where-album p {
    font-size: 20px;
    line-height: 20px;
  }
}
/* line 1, ../scss/breakpoints/_768up.scss */
body {
  background-image: url(../img/bg_DESK.jpg);
  background-size: inherit;
  background-position: top center;
  font-size: 18px;
  line-height: 19px;
}

/* line 9, ../scss/breakpoints/_768up.scss */
.wrap {
  width: 400px;
  margin: 0 auto;
}
/* line 14, ../scss/breakpoints/_768up.scss */
.wrap:before {
  content: "";
  display: block;
  position: absolute;
  width: 745px;
  height: 1058px;
  margin-left: -580px;
  top: 0px;
  background-image: url(../img/ludimilla.png);
  background-size: 600px;
  background-repeat: no-repeat;
  width: 600px;
  margin-left: -480px;
}

/* line 31, ../scss/breakpoints/_768up.scss */
.hotsite-logo {
  width: 400px;
  margin: 0 auto;
  margin-top: 74px;
  margin-bottom: -41px;
}

/* line 39, ../scss/breakpoints/_768up.scss */
article {
  position: relative;
  z-index: 1000;
}

/* line 44, ../scss/breakpoints/_768up.scss */
select, button {
  font-size: 20px;
  height: 36px;
}

/* line 50, ../scss/breakpoints/_768up.scss */
.largar-indireta {
  height: 37px;
}

/* line 55, ../scss/breakpoints/_768up.scss */
.alvo {
  width: 21%;
}

/* line 59, ../scss/breakpoints/_768up.scss */
.indireta-para {
  width: 42%;
}

/* line 66, ../scss/breakpoints/_768up.scss */
button span {
  display: none;
}

/* line 71, ../scss/breakpoints/_768up.scss */
.share {
  font-size: 18px;
}
/* line 74, ../scss/breakpoints/_768up.scss */
.share .facebook {
  font-size: 27px;
}
/* line 81, ../scss/breakpoints/_768up.scss */
.share .twitter i {
  top: 1px;
}

/* line 87, ../scss/breakpoints/_768up.scss */
.facebook {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  position: absolute;
  margin-top: 37px;
  margin-left: 40px;
}
/* line 95, ../scss/breakpoints/_768up.scss */
.facebook i {
  position: relative;
  top: 6px;
  left: 2px;
}

/* line 102, ../scss/breakpoints/_768up.scss */
.twitter {
  border-radius: 5px;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-top: 37px;
}
/* line 109, ../scss/breakpoints/_768up.scss */
.twitter i {
  position: relative;
  left: -4px;
  font-size: 24px;
  line-height: 20px;
}

/* line 117, ../scss/breakpoints/_768up.scss */
.largar-indireta {
  font-family: 'solexboldregular';
  border-bottom: solid white 3px;
  border-radius: 4px;
}

/* line 123, ../scss/breakpoints/_768up.scss */
aside {
  position: absolute;
  width: 202px;
  float: right;
  right: 20px;
  top: 80px;
}
/* line 130, ../scss/breakpoints/_768up.scss */
aside .where-album {
  margin-bottom: 20px;
  padding: 8px;
}
/* line 134, ../scss/breakpoints/_768up.scss */
aside .where-album img {
  width: 100%;
  margin-bottom: 10px;
}
/* line 139, ../scss/breakpoints/_768up.scss */
aside .where-album p {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px;
}
/* line 145, ../scss/breakpoints/_768up.scss */
aside .where-album ul {
  float: none;
  width: 100%;
  position: relative;
}
/* line 150, ../scss/breakpoints/_768up.scss */
aside .where-album ul li {
  width: 100%;
  margin-top: 5px;
}

/* line 159, ../scss/breakpoints/_768up.scss */
.spotify {
  display: block;
  background-color: #9eb8d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid #d8e3ec 1px;
  color: white;
  padding: 8px;
}
/* line 170, ../scss/breakpoints/_768up.scss */
.spotify .apple-music, .spotify .deezer {
  border-radius: 3px;
  border: solid #d8e3ec 1px;
  border-bottom: solid white 2px;
  color: white;
  font-size: 16px;
  height: 32px;
  display: inline-block;
  width: 48%;
  margin-top: 8px;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 184, ../scss/breakpoints/_768up.scss */
.spotify .apple-music {
  margin-right: 4%;
  background-image: url(../img/apple_music.png);
  background-size: 80%;
}
/* line 190, ../scss/breakpoints/_768up.scss */
.spotify .deezer {
  background-image: url(../img/deezer.png);
  background-size: 80%;
}

/* line 196, ../scss/breakpoints/_768up.scss */
.channel {
  display: block;
}
/* line 199, ../scss/breakpoints/_768up.scss */
.channel ul {
  display: inline-block;
  width: 100%;
}
/* line 203, ../scss/breakpoints/_768up.scss */
.channel ul li {
  float: right;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-left: 5px;
}
/* line 211, ../scss/breakpoints/_768up.scss */
.channel ul li a {
  margin: 0px;
  top: 0px;
  left: 0px;
  position: relative;
  display: block;
  color: #9eb8d0;
  background-color: white;
  width: 100%;
  height: 100%;
  font-size: 26px;
  border-radius: 5px;
  text-align: center;
}
/* line 225, ../scss/breakpoints/_768up.scss */
.channel ul li a span {
  display: none;
}
/* line 232, ../scss/breakpoints/_768up.scss */
.channel ul li .twitter i {
  font-size: 24px;
  top: 6px;
  left: 1px;
}
/* line 241, ../scss/breakpoints/_768up.scss */
.channel ul li .snapchat i {
  position: relative;
  top: 3px;
}
/* line 249, ../scss/breakpoints/_768up.scss */
.channel ul li .instagram i {
  position: relative;
  top: 3px;
}
/* line 257, ../scss/breakpoints/_768up.scss */
.channel ul li .facebook i {
  position: relative;
  top: 8px;
}

/* line 266, ../scss/breakpoints/_768up.scss */
.twitter_tweets {
  display: block;
  margin-top: 80px;
}
/* line 270, ../scss/breakpoints/_768up.scss */
.twitter_tweets ul {
  margin-top: 12px;
}

/* line 276, ../scss/breakpoints/_768up.scss */
.legal {
  display: block;
  margin-top: 15px;
  font-size: 16px;
}

/* line 282, ../scss/breakpoints/_768up.scss */
select {
  background-size: 30px;
  padding-right: 34px;
}

/* line 287, ../scss/breakpoints/_768up.scss */
textarea {
  font-size: 26px;
}

/* line 294, ../scss/breakpoints/_768up.scss */
.prapegargeral .wrap {
  width: 100%;
  position: relative;
}
/* line 297, ../scss/breakpoints/_768up.scss */
.prapegargeral .wrap:before {
  display: none;
  background: none;
}
/* line 304, ../scss/breakpoints/_768up.scss */
.prapegargeral aside {
  top: 10px;
}
/* line 308, ../scss/breakpoints/_768up.scss */
.prapegargeral .logo-header {
  position: relative;
}
/* line 312, ../scss/breakpoints/_768up.scss */
.prapegargeral .manual-logo {
  position: absolute;
  z-index: 300;
  margin-top: 0px;
  left: 50%;
  margin-left: -460px;
}
/* line 321, ../scss/breakpoints/_768up.scss */
.prapegargeral article {
  margin-top: 75px;
  position: relative;
  z-index: 0;
}
/* line 326, ../scss/breakpoints/_768up.scss */
.prapegargeral article p {
  font-size: 15px;
  line-height: 16px;
  width: 300px;
}
/* line 332, ../scss/breakpoints/_768up.scss */
.prapegargeral article:before {
  content: "";
  display: block;
  width: 680px;
  height: 505px;
  top: 0px;
  background-image: url(../img/ludimilla_prapegargeral.png);
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: -100px;
}
/* line 350, ../scss/breakpoints/_768up.scss */
.prapegargeral button {
  line-height: 29px;
}
/* line 352, ../scss/breakpoints/_768up.scss */
.prapegargeral button span {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -3px;
}
/* line 361, ../scss/breakpoints/_768up.scss */
.prapegargeral .facebook {
  position: inherit;
  width: inherit;
  margin-left: 0px;
}
/* line 366, ../scss/breakpoints/_768up.scss */
.prapegargeral .facebook i {
  font-size: 24px;
  position: inherit;
  top: 0px;
  left: 0px;
  line-height: 28px;
}
/* line 375, ../scss/breakpoints/_768up.scss */
.prapegargeral .twitter {
  position: inherit;
  width: inherit;
  font-size: 24px;
  position: relative;
  top: 0px;
  left: 0px;
}
/* line 383, ../scss/breakpoints/_768up.scss */
.prapegargeral .twitter i {
  position: inherit;
  margin-right: -2px;
}
/* line 389, ../scss/breakpoints/_768up.scss */
.prapegargeral .aprender-comigo {
  position: relative;
  z-index: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 0px 20px;
}
/* line 397, ../scss/breakpoints/_768up.scss */
.prapegargeral .channel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid #d8e3ec 1px;
  padding: 8px;
}
/* line 404, ../scss/breakpoints/_768up.scss */
.prapegargeral .channel ul {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
/* line 409, ../scss/breakpoints/_768up.scss */
.prapegargeral .channel ul li {
  width: 42px;
  height: 42px;
  float: left;
}
/* line 414, ../scss/breakpoints/_768up.scss */
.prapegargeral .channel ul li:first-child {
  margin-left: 0px;
}
/* line 418, ../scss/breakpoints/_768up.scss */
.prapegargeral .channel ul li a {
  color: #b52966;
}
/* line 422, ../scss/breakpoints/_768up.scss */
.prapegargeral .channel ul li i {
  font-size: 35px;
}
/* line 430, ../scss/breakpoints/_768up.scss */
.prapegargeral .channel .facebook i {
  top: 15px;
  left: 3px;
}
/* line 438, ../scss/breakpoints/_768up.scss */
.prapegargeral .channel .twitter i {
  top: 12px;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
