
.wrap
{
	width: 560px;
	&:before
	{
		// width: 745px;
		// height: 1058px;
		margin-left: -440px;
		// background-size: 745px;
	}
}


.hotsite-logo
{
	width: 550px;
	margin-bottom: -53px;
}

h2
{
	font-size: 29px;
}

select, button
{
    font-size: 27px;
    height: 44px;
}

select
{
    background-size: inherit;

}


.largar-indireta
{
	height: 44px;
}

.twitter_tweets
{
	ul
    {

        li
        {
            width: 7.14%;
            display: inline-block;
            &:nth-child(n)
            {
                display: inline-block;
            }
            &:nth-child(n+15)
            {
                display: none;
            }
        }
    }
}

