// .wrap
// {
//     min-height: 500px;

// }
body
{
    padding: 0px 40px;
}


.alvo
{
    width: 18%;
    float: left;
}
.indireta-para
{
    width: 45%;
    float: left;
}
.largar-indireta
{
    width: 33%;

}


.twitter_tweets
{
	ul
    {

        li
        {
            width: 10%;
            &:nth-child(n+11)
            {
                display: none;
            }
        }
    }
}



@media only screen and (min-width: 500px) {

	.where-album
	{
		a
		{
			background-size: 90%;
		}
		ul
		{
			width: 60%;
			float: left;
		}
	}
	

} // end of media query
@media only screen and (min-width: 560px) {

	.where-album
	{
		a
		{
			background-size: inherit;
		}
		p
		{
			font-size: 18px;
			line-height: 16px;
		}
	}
	.album-links
	{
		position:relative;
		ul
		{
			position: absolute;
			bottom: 0px;
		}
	}

} // end of media query
@media only screen and (min-width: 600px) {

	.where-album
	{
		p
		{
			font-size: 20px;
			line-height: 20px;
		}
	}

} // end of media query
