body
{
    background-image: url(../img/bg_DESK.jpg);
    background-size: inherit;
    background-position: top center;
    font-size: 18px;
    line-height: 19px;
}
.wrap
{
	// width: 640px;
	width: 400px;
	margin: 0 auto;
	&:before
	{
		content: "";
		display: block;
		position: absolute;
		width: 745px;
		height: 1058px;
		margin-left: -580px;
		top:0px;
    	background-image: url(../img/ludimilla.png);
    	background-size: 600px;
    	background-repeat: no-repeat;
    	width: 600px;
    	margin-left: -480px;
	}
}

.hotsite-logo
{
    // width: 643px;
    width: 400px;
    margin: 0 auto;
	margin-top: 74px;
	margin-bottom: -41px;
}
article
{
    position: relative;
    z-index: 1000;
}
select, button
{
    font-size: 20px;
    height: 36px;
}

.largar-indireta
{
	height: 37px;
}

.alvo
{
    width: 21%;
}
.indireta-para
{
    width: 42%;
}

button
{
	span
	{
		display: none;
	}
}
.share
{
    font-size: 18px;
	.facebook
	{
		font-size: 27px;
	}
	.twitter
	{
		// position: relative;
		i
		{
			top:1px;
		}
	}
}
.facebook
{
	width: 32px;
	height: 32px;
	border-radius: 5px;
	position: absolute;
    margin-top: 37px;
    margin-left: 40px;
	i
	{
		position: relative;
		top: 6px;
	    left: 2px;	
	}
}
.twitter
{
	border-radius: 5px;
	width: 32px;
	height: 32px;
	position: absolute;
    margin-top: 37px;
	i
	{
		position: relative;
	    left: -4px;
	    font-size: 24px;		
	    line-height: 20px;
	}
}
.largar-indireta
{
    font-family: 'solexboldregular';
    border-bottom: solid white 3px;
    border-radius: 4px;
}
aside
{
    position: absolute;
    width: 202px;
    float: right;
    right: 20px;
    top: 80px;
    .where-album
    {
    	margin-bottom: 20px;
    	padding: 8px;
    	img
    	{
    		width: 100%;
    		margin-bottom: 10px;
    	}
    	p
    	{
    		font-size: 15px;
    		line-height: 18px;
    		margin-bottom: 10px;
    	}
    	ul
    	{
    		float: none;
    		width: 100%;
    		position: relative;
    		li
    		{
    			width: 100%;
    			margin-top: 5px;
    		}
    	}
    }
}

.spotify
{
	display: block;
    background-color: #9eb8d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid #d8e3ec 1px;
    color: white;
    padding: 8px;

    .apple-music, .deezer    
    {
	    border-radius: 3px;
	    border: solid #d8e3ec 1px;
	    border-bottom: solid white 2px;
	    color: white;
	    font-size: 16px;
	    height: 32px; 
	    display: inline-block;  
	    width: 48%;
	    margin-top: 8px;
	    background-position: center;
	    background-repeat: no-repeat;
    }
    .apple-music
    {
		margin-right: 4%;
    	background-image: url(../img/apple_music.png);
    	background-size: 80%;
    }
    .deezer
    {
    	background-image: url(../img/deezer.png);
    	background-size: 80%;
    }
}
.channel
{
	display: block;
	ul
	{
		display: inline-block;
		width: 100%;
		li
		{
			float: right;
			border-radius: 4px;
			width: 32px;
			height: 32px;
			display: inline-block;
			margin-left: 5px;
			a
			{
				margin: 0px;
				top:0px;
				left:0px;
				position: relative;
				display: block;
				color: #9eb8d0;
				background-color: white;
				width: 100%;
				height: 100%;
				font-size: 26px;
				border-radius: 5px;
				text-align: center;
				span
				{
					display: none;
				}
			}
			.twitter
			{
				i
				{
					font-size: 24px;
					top:6px;
					left: 1px;
				}
			}
			.snapchat
			{
				i
				{
					position: relative;
					top:3px;
				}
			}
			.instagram
			{
				i
				{
					position: relative;
					top:3px;
				}
			}
			.facebook
			{
				i
				{
					position: relative;
					top:8px;
				}
			}
		}
	}
}
.twitter_tweets
{
	display: block;
	margin-top: 80px;   
	ul
	{
	    margin-top: 12px;

	} 
}
.legal
{
	display: block;
	margin-top: 15px;
	font-size: 16px;
}
select
{
    background-size: 30px;
	padding-right: 34px;
}
textarea
{
	font-size: 26px;
}

.prapegargeral
{
	.wrap
	{
		width: 100%;
		&:before
		{
			display: none;
			background: none;
		}
		position: relative;
	}
	aside
	{
		top: 10px;
	}
	.logo-header
	{
		position: relative;
	}
	.manual-logo
	{
		position: absolute;
		z-index: 300;
		margin-top: 0px;
		left: 50%;
		margin-left: -460px;

	}
	article
	{
		margin-top: 75px;
		position: relative;
		z-index: 0;
		p
		{
			font-size: 15px;
			line-height: 16px;
			width: 300px;
		}
		&:before
		{
			content: "";
			display: block;
			// width: 918px;
			// height: 710px;
			width: 680px;
			height: 505px;
			top:0px;
	    	background-image: url(../img/ludimilla_prapegargeral.png);
	    	background-repeat: no-repeat;
	    	position: relative;
	    	z-index: 0;
	    	background-size: 100%;
	    	margin: 0 auto;
	    	margin-bottom: -100px;
		}
	}
	button
	{
		span
		{
			display: inline-block;
			font-size: 18px;
			position: relative;
			top: -3px;
		}
		line-height: 29px;
	}
	.facebook
	{
		position: inherit;
		width: inherit;
	    margin-left: 0px;
		i
		{
			font-size: 24px;
			position: inherit;
			top:0px;
			left: 0px;
			line-height: 28px;
		}
	}
	.twitter
	{
		position: inherit;
		width: inherit;
		font-size: 24px;
		position: relative;
		top:0px;
		left: 0px;
		i
		{
			position: inherit;
			margin-right: -2px;
		}
	}
	.aprender-comigo
	{
		position: relative;
		z-index: 400;
		font-size: 16px;
		line-height: 18px;
		padding: 0px 20px;
	}
	.channel
	{
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    border: solid #d8e3ec 1px;
	    padding: 8px;
		ul
		{
			display: inline-block;
			padding: 0px;
			margin: 0px;
			li
			{
			    width: 42px;
    			height: 42px;
    			float: left;
    			&:first-child
    			{
    				margin-left: 0px;
    			}
				a
				{
					color: #b52966;
				}
			    i
			    {
			    	font-size: 35px;
			    }
			}
		}
		.facebook
		{
			i
			{
				top: 15px;
    			left: 3px;
			}
		}
		.twitter
		{
			i
			{
				top:12px;
			}
		}
	}
}