/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html
{
    min-height: 100%;
}



body
{
    padding: 0px;
    background-image: url(../img/bg_mobile.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 20px;
    width: 100%;
    min-height: 100%;
    color: white;
    font-family: 'solexregularregular';
    font-size: 20px;
    line-height: 24px;
}

h2
{
    font-size: 21px;
    font-family: 'solexboldregular';
    font-weight: normal;
    text-transform: uppercase;
}

strong
{
    font-family: 'solexboldregular';
    font-weight: normal;
    letter-spacing: 0.03em;
}


.wrap
{
    width: 100%;

}

.hotsite-logo
{
    background-image: url(../img/gimmik_mobile.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: 256px;
    margin-bottom: -24px;

}
.logo-header
{
    h2
    {
        text-align: center;
    }
    margin-bottom: 60px;
}

button
{
    background-color: #9eb8d0;
    border-radius: 3px;
    border: solid #d8e3ec 1px;
    color: white;
    font-size: 16px;
    border-bottom: solid white 2px;
    height: 32px;   
    // padding: 5px;
    line-height: 22px;
}

select, textarea
{
    -webkit-appearance:none;
    background-color: #9eb8d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid #d8e3ec 1px;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 2%;
    padding: 5px;
    box-sizing: border-box;
}
select
{
    height: 30px;
    background-image: url(../img/select.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-top: 2px;
    padding-right: 24px;
}

textarea
{
    width: 100%;
    height: 100px;
}

.alvo
{
    // width: 18%;
    width: 38%;
    margin-right: 2%;
}
.indireta-para
{
    // width: 42%;
    &:disabled
    {
        opacity: 0.4;
    }
    width: 60%;
    margin-right: 0px;
    float: right;
}
.largar-indireta
{
    // width: 33%;
    margin-right: 0px;
    height: 30px;
    box-sizing: border-box;
    padding-top: 2px;
    float: right;
    &:disabled
    {
        opacity: 0.4;
    }

    width: 100%;
    margin-bottom: 10px;

}
.share
{
    font-size: 15px;
    margin-bottom: 60px;
    button
    {
        background-color: white;
        color: #9eb8d0;
        border: none;
        margin-right: 8px;
        // padding-left: 24px;
    }
    .facebook, .twitter
    {
        i
        {
            margin-right: 6px;
            margin-left: 4px;

        }
    }
}
.channel
{
    display: none;
}
.where-album
{
    background-color: #9eb8d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px white;
    padding: 14px;
    line-height: 18px;
    margin-bottom: 40px;
    img
    {
        width: 35%;
        float: left;
        margin-right: 15px;
    }
    p
    {
        margin: 0px;
        font-size: 16px;
        line-height: 16px;
    }
    ul
    {
        display: inline-block;
        // float: right;
        margin: 0px;
        // width: 60%;
        width: 100%;
        li
        {
            float: left;
            width: 47.5%;
            background-color: #9eb8d0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            border: solid 1px white;
            padding: 4px;
            line-height: 18px;
            font-size: 10px;
            margin-right: 5%;
            margin-top: 10px;
            &:nth-child(2n)
            {
                margin-right:0;
            }
            a
            {
                width: 100%;
                height: 25px;
                display: block;
                color: white;
                text-transform: none;
            }
        }
        .cultura
        {
            background-image: url(../img/cultura.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        .itunes
        {
            background-image: url(../img/itunes.png);
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top:-2px;
            background-size: 75px;

        }
        .google
        {
            background-image: url(../img/googleplay.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        .saraiva
        {
            background-image: url(../img/saraiva.png);
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top: 1px;
        }
    }
}

.spotify
{
    display: none;
}

.legal
{
    margin-top: 70px;
    border-top: solid #d8e3ec 1px;
    p
    {
        margin-top: 3px;
        font-size: 18px;
        line-height: 20px;
    }
}

.twitter_tweets
{
    display: none;
    &>span
    {
        display: block;
        width: 100%;
    }
    ul
    {
        display: inline-block;
        width: 100%;
        background-color: #9eb8d0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: solid 1px white;
        padding-top: 5px;
        padding-left: 5px;

        li
        {
            display: inline-block;
            width: 16.66%;
            padding-right: 5px;
            padding-bottom: 5px;
            &:nth-child(n+13)
            {
                display: none;
            }
            a
            {
                width: 100%;
                display: block;
                border: solid 1px white;
                overflow: hidden;

                img
                {
                    width: 100%;
                }
            }
        }
    }
}

.tweet
{
    img
    {
        float: left;
    }
    h2
    {
        margin-top: 0px;
        padding-top: 14px;
        padding-left: 7px;
        float: left;
    }
    p
    {
        display: block;
        width: 100%;
        float: none;
        clear: both;
    }
}

.legal
{
    display: none;
}


.prapegargeral
{

    background-image: url(../img/prapegargeral_bg.jpg);
    .manual-logo
    {
        background-image: url(../img/title_prapegargeral.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        display: block;
        width: 300px;
        height: 310px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .logo-header
    {
        margin-bottom: 20px;
    }
    article
    {
        p
        {
            text-align: center;
            max-width: 400px;
            margin: 10px auto;
        }
    }
    button
    {
        background-color: #b52966;
    }
    .aprender-comigo
    {
        margin: 0 auto;
        display: block;
    }
    .share
    {
        display: none;
        text-align: center;
        max-width: 380px;
        margin: 0 auto;
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.13);
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 20px;
        span
        {
            margin-bottom: 20px;
        }
        &>span
        {
            display: block;
            margin: 0 auto;
            line-height: 18px;
        }
        button
        {
            background-color: white;
            color: #b52966;
            margin-top: 20px;
        }
        .twitter
        {
            margin-right: 0px;
        }
    }
    #baixar-manual
    {
        background-color: #b52966;
        border-radius: 3px;
        border: solid #d8e3ec 1px;
        color: white;
        font-size: 16px;
        border-bottom: solid white 2px;
        height: 32px;   
        // padding: 5px;
        line-height: 22px;
        text-decoration: none;

        display: block;
        margin: 0 auto;
        width: 60%;
        max-width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 28px;

        &.disabled
        {
            opacity: 0.4;
            cursor:not-allowed;
        }
    }
    .where-album
    {
        background-color: #b52966;
        ul 
        {
            li
            {
                background-color: #b52966;
            }
        }
    }

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
